<ul>
	<li><a href="javascript:void(0)"><span class="glyphicon icon-open-door"></span></a></li>
	<li><a href="javascript:void(0)"><span class="glyphicon icon-blocks"></span></a></li>
	<li><a href="javascript:void(0)"><span class="glyphicon icon-copy"></span></a></li>
	<li><a href="javascript:void(0)"><span class="glyphicon icon-location"></span></a></li>
	<li><a href="javascript:void(0)"><span class="glyphicon icon-profile"></span></a></li>
	<li><a href="javascript:void(0)"><span class="glyphicon icon-list"></span></a></li>
	<li><a href="javascript:void(0)"><span class="glyphicon icon-add"></span></a></li>
	<li><a href="javascript:void(0)"><span class="glyphicon icon-duplicate"></span></a></li>
</ul>