<div class="col-lg-10 right-panel-block">
					<div class="panel panel-primary" style="width:130%">
						<div class="panel-heading">
							<p class="panel-title small">
								<table class="table">
								 	<tr>
								 		<td>Equipment Type</td>
								 		<td class="text-right">Total</td>
								 	</tr>
								</table>
							</p>
						</div>

						<div class="panel-body">
							<table class="table">
							 	<tr>
							 		<td>Camp Lamp</td>
							 		<td class="text-right">5213</td>
							 	</tr>

							 	<tr>
							 		<td>GDI Enviro</td>
							 		<td class="text-right">609</td>
							 	</tr>

							 	<tr>
							 		<td>Rescue Pack</td>
							 		<td class="text-right">124</td>
							 	</tr>

							 	<tr>
							 		<td>Sentinel GDI</td>
							 		<td class="text-right">156</td>
							 	</tr>
							</table>
						</div>
					</div>

					<div class="panel panel-primary right-panel-block" style="width:130%">
						<div class="panel-heading">
							<p class="panel-title small">
								<table class="table">
								 	<tr>
								 		<td>Assets Last Seen</td>
								 		<td class="text-right">Total</td>
								 	</tr>
								</table>
							</p>
						</div>

						<div class="panel-body">
							<table class="table">
							 	<tr>
							 		<td>Camp Lamp</td>
							 		<td class="text-right">5213</td>
							 	</tr>

							 	<tr>
							 		<td>GDI Enviro</td>
							 		<td class="text-right">609</td>
							 	</tr>


							</table>
						</div>
					</div>
				</div>