
<div class="modal-content">
    <div class="modal-header">
        <!-- <button type="button" style="float: right;" class="close" ng-click="cancelAdd()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> -->


        <h4 class="modal-title" id="myModalLabel">Add User</h4>

        <button class="btn pull-right modal-close rotate-45" ng-click="cancelAdd()">
            <span class="glyphicon icon-plus-circled"></span>
        </button>
    </div>

    <div class="modal-body newUserModal">

        <form name="newContactForm" novalidate>
            

            <input type="text" class="form-control" ng-model="userData.firstName" placeholder="Name" required />

            <input type="text" class="form-control" ng-model="userData.lastName" placeholder="Surname" required />

            <input type="text" class="form-control" ng-model="userData.cell" placeholder="Mobile number" required />

            <input type="email" class="form-control" ng-model="userData.email" placeholder="Email address" required />

            <input type="text" class="form-control" ng-model="userData.address" placeholder="Address" required="" />
            
            <div class="modal-action">

                <button class="btn btn-default btn-cancel" ng-click="cancelAdd()">Cancel</button>
                <button class="btn btn-default btn-save" ng-click="addNewContact(newContactForm.$valid)">Save</button>
                 
            </div>

        </form>
    </div>
</div>


