
.icon-add:before { content: '\e800'; } /* '' */
.icon-arrow-down:before { content: '\e801'; } /* '' */
.icon-blocks:before { content: '\e802'; } /* '' */
.icon-copy:before { content: '\e803'; } /* '' */
.icon-duplicate:before { content: '\e804'; } /* '' */
.icon-list:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-logo:before { content: '\e807'; } /* '' */
.icon-open-door:before { content: '\e808'; } /* '' */
.icon-plus-circled:before { content: '\e809'; } /* '' */
.icon-preview:before { content: '\e80a'; } /* '' */
.icon-profile:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-select-dropdown:before { content: '\e80d'; } /* '' */
.icon-show-list:before { content: '\e80e'; } /* '' */
.icon-upload:before { content: '\e80f'; } /* '' */