@font-face {
  font-family: 'schauenburg';
  src: url('../font/schauenburg.eot?24273462');
  src: url('../font/schauenburg.eot?24273462#iefix') format('embedded-opentype'),
       url('../font/schauenburg.woff2?24273462') format('woff2'),
       url('../font/schauenburg.woff?24273462') format('woff'),
       url('../font/schauenburg.ttf?24273462') format('truetype'),
       url('../font/schauenburg.svg?24273462#schauenburg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'schauenburg';
    src: url('../font/schauenburg.svg?24273462#schauenburg') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "schauenburg";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-add:before { content: '\e800'; } /* '' */
.icon-arrow-down:before { content: '\e801'; } /* '' */
.icon-blocks:before { content: '\e802'; } /* '' */
.icon-copy:before { content: '\e803'; } /* '' */
.icon-duplicate:before { content: '\e804'; } /* '' */
.icon-list:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-logo:before { content: '\e807'; } /* '' */
.icon-open-door:before { content: '\e808'; } /* '' */
.icon-plus-circled:before { content: '\e809'; } /* '' */
.icon-preview:before { content: '\e80a'; } /* '' */
.icon-profile:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-select-dropdown:before { content: '\e80d'; } /* '' */
.icon-show-list:before { content: '\e80e'; } /* '' */
.icon-upload:before { content: '\e80f'; } /* '' */