

<div class="container-fluid admin-panel-container">
  <div class="row">
    <div class="admin-header">
      <!-- logo -->
      <div class="col-lg-3">
        <div class="row">
          <div class="col-lg-6">
            <div data-ng-include="'views/layout/header/logo.html'"></div>
          </div>
          <div class="col-lg-6 details-block">
            <div data-ng-include="'views/layout/header/system-details.html'"></div>
          </div>
        </div>
      </div>

      <!-- title -->
      <div class="col-lg-5 title-block">
        <h2>SITE ADMIN</h2>
      </div>

      <!-- right actions -->
      <div class="col-lg-4">
        <div class="row">

          <div class="col-lg-5 color-block">
            <div class="color-blue"></div>
            <div class="color-green"></div>
            <div class="color-orange"></div>
            <div class="color-red"></div>
          </div>

          <div class="col-lg-5 name-block">
            <div data-ng-include="'views/layout/header/loggedIn-user.html'"></div>
          </div>
          <div class="col-lg-2 logout-block">
            <div data-ng-include="'views/layout/header/logout.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1 left-menu">
      <ul>
        <li><a href="javascript:void(0)"><span class="glyphicon icon-open-door"></span></a></li>
        <li><a href="javascript:void(0)"><span class="glyphicon icon-blocks"></span></a></li>
        <li><a href="javascript:void(0)"><span class="glyphicon icon-copy"></span></a></li>
        <li><a href="javascript:void(0)"><span class="glyphicon icon-location"></span></a></li>
        <li><a href="javascript:void(0)"><span class="glyphicon icon-profile"></span></a></li>
        <li><a href="javascript:void(0)"><span class="glyphicon icon-list"></span></a></li>
        <li><a href="javascript:void(0)"><span class="glyphicon icon-add"></span></a></li>
        <li><a href="javascript:void(0)"><span class="glyphicon icon-duplicate"></span></a></li>
      </ul>
    </div>

    <div class="col-lg-11">
      <div class="row">
        <div class="col-lg-12 top-menu-block">
          <ul class="nav nav-pills nav-justified">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Equipment</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">User Roles</a></li>
            <li><a href="#">Locations</a></li>
          </ul>

          <ul class="nav nav-pills nav-justified">
            <li><a href="#">Event Types</a></li>
            <li><a href="#">Personel</a></li>
            <li><a href="#">Audit</a></li>
            <li><a href="#">Repair</a></li>
            <li><a href="#">Life Cycles</a></li>
          </ul>
        </div>

        <div class="col-lg-12">
          <div style="margin-top: 80px">

            <form class="form-signin" name="login-form" novalidate>
              <h2 class="form-signin-heading">Please enter email</h2>
              <input type="email" ng-model="vm.userDetails.email" class="form-control" placeholder="Email address" required />

              <button class="btn btn-lg btn-primary btn-block" ng-click="vm.logInUser()">Reset Password</button>

            </form>

          </div>
        </div>

      </div>
    </div>



    <div class="col-lg-2 right-panels hidden">
      <div class="row">

        <div class="col-lg-2 search-block">
          <button class="btn"><span class="glyphicon icon-search"></span></button>
          <div class="grey-block"></div>
          <div class="blue-block"></div>
        </div>

        <div class="col-lg-10 right-panel-block">
          <div class="panel panel-primary" style="width:130%">
            <div class="panel-heading">
              <p class="panel-title small">
                <table class="table">
                  <tr>
                    <td>Equipment Type</td>
                    <td class="text-right">Total</td>
                  </tr>
                </table>
              </p>
            </div>

            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>Camp Lamp</td>
                  <td class="text-right">5213</td>
                </tr>

                <tr>
                  <td>GDI Enviro</td>
                  <td class="text-right">609</td>
                </tr>

                <tr>
                  <td>Rescue Pack</td>
                  <td class="text-right">124</td>
                </tr>

                <tr>
                  <td>Sentinel GDI</td>
                  <td class="text-right">156</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="panel panel-primary right-panel-block" style="width:130%">
            <div class="panel-heading">
              <p class="panel-title small">
                <table class="table">
                  <tr>
                    <td>Assets Last Seen</td>
                    <td class="text-right">Total</td>
                  </tr>
                </table>
              </p>
            </div>

            <div class="panel-body">
              <table class="table">
                <tr>
                  <td>Camp Lamp</td>
                  <td class="text-right">5213</td>
                </tr>

                <tr>
                  <td>GDI Enviro</td>
                  <td class="text-right">609</td>
                </tr>


              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>