<div class="col-lg-12">
  <div style="margin-top: 80px">

    <form class="form-signin" name="loginForm"  ng-submit="vm.logInUser(loginForm)" novalidate>
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="email" ng-model="vm.userDetails.email" class="form-control" placeholder="Email address" required />

      <input type="password" ng-model="vm.userDetails.password" class="form-control" placeholder="Password" required />

      <button class="btn btn-lg btn-primary btn-block">Login</button>

      <p>
        <a href="#/forgot-password">Forgot Password</a>
      </p>

    </form>

  </div>
</div>