/*===============================================================================*/
/*====================================== LOGIN IN ===============================*/
/*===============================================================================*/

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control{
	width: 100%;
}

.form-signin button{
	border-radius: 0;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}



/*====================================== TYPOGRAPHY ===============================*/
/*===============================================================================*/

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

button:focus{
	outline: none !important;
}


/*====================================== HEADER ===============================*/
/*===============================================================================*/
.admin-panel-container .admin-header{
	height: 50px;
	background: #202d45;
	color: #FFFFFF;
	line-height: 45px;
}

.admin-panel-container{
	background: #e2e6e7;
}

.admin-header .icon-logo{
	display: inline-block;
	vertical-align: middle;
	font-size: 34px;
}

.admin-header .logo-name{
	display: inline-block;
	font-size: 18px;
	line-height: 45px;
	vertical-align: middle;
}

.version-details{
	border-left: 1px solid #FFFFFF;
}

.version-details span{
    display: block;
    font-size: 10px;
    line-height: 14px;
    margin-left: 5px;
}

.details-block{
	padding: 4px 0;
}

.title-block{
	background: #111f24;
	text-align: center;
	height: inherit;
	border-left: 2px solid #FFFFFF;
}
.title-block h2{
	text-transform: uppercase;
	margin: 0;
}

.color-block{
	border-left: 2px solid #ffffff;
    display: table;
    height: inherit;
    padding: 2px;
}

.color-block div{
    border-radius: 50px;
    display: inline-block;
    height: 20px;
    margin: 0 10px;
    width: 20px;
}

.color-blue{
	background: #0c4d98;
}
.color-green{
	background: #079247;
}

.color-red{
	background: #ed2224;
}

.color-orange{
	background: #f15c27;
}

.name-block{
	background: #343333;
	height: 50px;
}

.name-block .admin-name, .name-block button{
	display: inline-block;
}

.name-block button{
	background: #111F24;
	border-radius: 50px;
	width: 35px;
	height: 35px;
	padding: 0;
	margin: 0;
	margin-top: 7px;
	float: right;
}

.name-block button span{
	font-size: 25px;
}

.name-block button span:before{
    margin-left: 0px;
    left: 0;
}

.logout-block .btn{
    background: transparent;
    border: none;
    margin: 6px 0;
    float: right;
    padding: 5px 0;
}



/*===============================================================================*/
/*====================================== TOP MENU ===============================*/
/*===============================================================================*/


.top-menu-block{
	padding-left: 0;
    padding-right: 0;
}

.top-menu-block ul.nav li a{
	background: #343333;
	color: #FFFFFF;
	border-radius: 0;
	text-transform: uppercase;
	padding: 6px 15px;
}

.top-menu-block ul.nav li{
	border-right: 2px solid #FFFFFF;
	min-width: 120px;
}
.top-menu-block ul.nav li:last-child{
	border-right: none;
}

.top-menu-block ul:first-child{
	border-bottom: 2px solid #FFFFFF;
}

.top-menu-block ul:last-child{
	margin-top: 0;
}

.top-menu-block ul.nav li a:hover{
	/*opacity: 0.75;*/
	background: #202d45;
}

/*===============================================================================*/
/*====================================== LEFT MUNEU ===============================*/
/*===============================================================================*/

.admin-panel-container .left-menu{
	height: 100%;
	background: #111f24;
	color: #FFFFFF;
	width: 5%;
}

.left-menu ul{
	margin-top: 50px;
	padding: 0;
	list-style: none;
}

.left-menu ul li{
	margin: 30px 0;
}
.left-menu ul li a{
	color: #FFFFFF;
}

.left-menu ul li span{
	font-size: 25px;
}

.left-menu ul li span:before{
	margin: 0;
}



/*===============================================================================*/
/*====================================== PANELS ===============================*/
/*===============================================================================*/

.panels-section{
	padding: 35px;
}
.panel-container{
	border-radius: 3px;
	background: #a2b8cf;
	padding: 10px;
}

.main-atributes{
	margin-top: 20px;
}

.main-atributes .panel-heading{
	position: relative;
}

.main-atributes .panel-heading .panel-title{
    display: inline-block;
    line-height: 8px !important;
    margin: 8px 0 !important;
    font-size: 14px;
}
.main-atributes .panel-heading .panel-title span{
	display: block;
}

.main-atributes .panel-heading .attr-right-icons{
    position: absolute;
    display: inline-block;
    right: 0;
    top: 6px;
}

.main-atributes .panel-heading .attr-right-icons button{
	background: transparent;
	border: none;
	padding: 0;
	margin: 0 10px;
}

.main-atributes .panel-heading .attr-right-icons button span:before{
    font-size: 30px;
    margin: 0;
}

.main-atributes .active-inactive h4{
	margin-bottom: 0;
}
.main-atributes .active-inactive{
	width: 85%;
	margin: auto;
}

.active-inactive .col-lg-6:last-child{
	border-left: 2px solid #e4e4e4;
	min-height: 160px;
}

.active-inactive .active-list button{
    color: #FFFFFF;
    min-width: 95%;
    display: block;
    margin: 5px 0;
    height: 30px;
    line-height: 16px;
    text-align: left;
}

.active-inactive .btn-blue{
	background: #2baae2;
}
.active-inactive .btn-green{
	background: #079247;

}
.panel-container .panel-heading{
	background: #2f3d5f;
	color: white;
	height: 40px;
}

.editing-panel{
	margin: 10px 15px;
	border: 2px solid #e4e4e4;
}

.editing-panel .panel-heading{
    height: 25px;
    background: #2baae2;
    padding: 5px 10px;
    line-height: 14px;
}

.editing-panel .panel-body{
    padding: 10px 0;
}

.editing-panel .panel-body table{
	font-size: 12px;
	line-height: 20px;
}
.editing-panel .panel-body table tr th{
	min-width: 90px;
	text-align: left;
}
.editing-panel .panel-body table tr td{
	padding: 5px 0;
}

.editing-panel .panel-body table tr td input{
	max-width: 90px;
}

.editing-panel .panel-body table tr td button, .btn-update{
	text-transform: uppercase;
    color: #FFFFFF;
    height: 26px;
    line-height: 14px;
    font-size: 12px;
}

.btn-update{
	float: right;
	margin-right: 15px;
}



.panel-container .panel-heading .panel-title{
    margin: 0;
    line-height: 40px;
    padding: 0 15px;
    text-transform: uppercase;
}

.panel-container .panel-heading .panel-title .panel-title-small{
    font-size: 65%;
    letter-spacing: 0px;
    font-weight: 300;
}

.panel-container .panel-heading .panel-title .panel-title-big{
    font-size: 80%;
    letter-spacing: 0px;
    font-weight: 600;
    margin-left: 20px;
}

.panel-container .panel-heading .panel-title button.panel-add{
    margin: 5px 0;
    background: transparent;
    padding: 0;
    color: #fff;
}

.panel-container .panel-heading .panel-title select{
	color: #202d45;
	margin: 5px 0;
	min-height: 30px;
	border-radius: 4px;
	width: 70%;
}

.panel-container .panel-heading .panel-title button.panel-add span:before{
	font-size: 30px;
	margin: 0;
}

.panel-container .panel-body {
	background: #FFFFFF;
	padding: 10px;
}

.dashboard-panel .panel-body .list-group{
	padding: 0;
	list-style: none;
	margin: 0;
}

.dashboard-panel .panel-body .list-group .item-col{
	padding-left: 0;
}

.dashboard-panel .panel-body .list-group .select-col select{
	border-radius: 4px;
    width: 74%;
    min-height: 25px;
    color: #202d45;
}

.dashboard-panel .panel-body .list-group .list-group-item{
    background: #2f3d5f;
    color: #FFFFFF;
    min-height: 35px;
    padding: 5px 10px;
    line-height: 25px;
    border-bottom: 1px solid #fff;
}
.dashboard-panel .panel-body .list-group .list-group-item .icon-item-list:before{
	font-size: 20px;
	vertical-align: middle;
	margin: 0;
}

.dashboard-panel .panel-body .list-group .list-group-item .icon-item-list{
	margin-right: 10px;
}

/*===============================================================================*/
/*====================================== SEARCH BLOCK ===========================*/
/*===============================================================================*/


.search-block{
	padding: 0;
	margin-top: 14px;
	background: #111f24;
	width: 12%;
}

.search-block .btn{
	background: transparent;
	color: #FFFFFF;
	padding: 0;
	height: 30px;
	width: 100%;
}

.search-block .btn span:before{
    font-size: 20px;
    vertical-align: middle;
    margin: 0;
}

.search-block .grey-block{
	height: 220px;
	background: #4e4e4e;
}

.search-block .blue-block{
	height: 100%;
	background: #202d45;
}



/*===============================================================================*/
/*====================================== RIGHT PANELS ===========================*/
/*===============================================================================*/

.right-panel-block{
	padding-left: 0;
}
.right-panels .right-panel-block .panel-heading{
	background: #0c4d98;
	color: #FFFFFF;
}

.right-panels .right-panel-block .panel-heading .panel-title{
    padding: 6px 10px;
    margin-bottom: 0;
}

.right-panels .right-panel-block .panel-heading .panel-title table, .right-panels .right-panel-block .panel-body table{
	width: 100%;
	color: #FFFFFF;
}

.right-panels .right-panel-block .panel-body table{
    font-size: 12px;
    line-height: 26px;
}

.right-panels .right-panel-block .panel-body{
	background: #111f24;
	padding: 10px;
	color: #FFFFFF;
}


/*===============================================================================*/
/*====================================== USERS SECTION ===========================*/
/*===============================================================================*/

.user-list{
	height: 150px;
	overflow-y: auto;
}


div[data-angular-treeview] {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  font-family: Tahoma;
  font-size:13px;
  color: #555;
  text-decoration: none;
}

div[data-tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  border: none;
  overflow: hidden;
}

div[data-tree-model] li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
}

div[data-tree-model] li .expanded {
  padding: 1px 10px;
  background-image: url("http://cfile23.uf.tistory.com/image/205B973A50C13F4B19D9BD");
  background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
  padding: 1px 10px;
  background-image: url("http://cfile23.uf.tistory.com/image/1459193A50C13F4B1B05FB");
  background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
  padding: 1px 10px;
  background-image: url("http://cfile23.uf.tistory.com/image/165B663A50C13F4B196CCA");
  background-repeat: no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
  cursor: pointer;
}

div[data-tree-model] li .selected {
  background-color: #aaddff;
  font-weight: bold;
  padding: 1px 5px;
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*============================================*/
/*=========== MODALS ==============*/
/*============================================*/
.modal-content{
	border-radius: 0
}



.modal-header {
    margin:0;
	background: #2f3d5f;
}

.modal-header button{
    margin: 5px 0;
    background: transparent;
    padding: 0;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 4px;
}

.modal-header button span{
	font-size: 25px;
}

.newUserModal, .deleteContactModal{
	padding-top: 0;
	padding-left: 50px;
    padding-right: 50px;

}

.deleteContactModal p{
	font-size: 18px;
	color: #9b9b9b;
}

.modal-title{
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
	/*padding-bottom: 15px;*/
}

.modal-content{
    border: none;
}


.newUserModal input{
	min-height: 45px;
	color: #9b9b9b;
	border: 1px solid #e1e1e1;
	margin: 14px 0;
	padding-left: 10px;
	width: 100%;
}

.newUserModal input:focus{
	outline: none;
	box-shadow: none;
}

.add-image .btn-add-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: -6px;
}

.add-image .btn-add-img:focus{
	outline: none;
}

.newUserModal .modal-action{
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: right;
}

.deleteContactModal .modal-action{
	margin: 30px 0;
}

.newUserModal .modal-action button, .deleteContactModal .modal-action button{
	min-width: 150px;
	min-height: 40px;
	background: transparent;
}

.newUserModal .modal-action button.btn-save, .deleteContactModal .modal-action button.btn-delete{
	border: 1px solid #17b1c2;
	margin-left: 20px;
	color: #142a37;
	border-color: #16a8b9;
	background: #16a8b9;
}

.newUserModal .modal-action button.btn-cancel, .deleteContactModal .modal-action button.btn-cancel{
	color: #9b9b9b;
	border: 1px solid #9b9b9b;
}