<div class="col-lg-12 panels-section" ng-show="currentUser.IsAuthenticated" ng-controller="userDashboard as vm">
					<div class="row">
						<div class="col-lg-6">

							<!-- 1st left panel -->
							<div class="panel-container dashboard-panel">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">
										<div class="row">
											<div class="col-lg-6">
												<span class="panel-title-small">Users</span>
											</div>
												
											<div class="col-lg-6">

												<button class="btn pull-right panel-add" ng-click="vm.addUser()">
													<span class="glyphicon icon-plus-circled"></span>
												</button>

											</div>
										</div>
										</h3>
									</div>

									<div class="panel-body">
										<ul class="list-group user-list">
											<li class="list-group-item" ng-repeat="user in vm.users">
												<div class="col-lg-6 item-col">
													<span class="icon-item-list glyphicon icon-profile"></span>
													<span>{{user.firstName}} {{user.lastName}}</span>
												</div>
												
											</li>
											
										</ul>
									</div>
								</div>
							</div>

							<!-- second left panel -->
							<div class="panel-container main-atributes">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<div class="panel-title">
											<span class="text-success">Main Attribute</span> <br>
											<span>Parameters</span>
										</div>

										<div class="attr-right-icons">
											<button class="btn">
												<span class="glyphicon icon-upload"></span>
											</button>

											<button class="btn">
												<span class="glyphicon icon-show-list"></span>
											</button>
										</div>
									</div>

									<div class="panel-body">
										<div class="row active-inactive">
											<div class="col-lg-6">
												<h4>Active</h4>
												<div class="active-list">
													<button type="button" class="btn btn-blue">Surname & Initial</button>
													<button type="button" class="btn btn-green">Industry No.</button>
													<button type="button" class="btn btn-green">ID No.</button>
												</div>
											</div>
											<div class="col-lg-6">
												Inactive
											</div>
										</div>

										<div class="row">
											<div class="col-lg-12">
												<div class="panel panel-default editing-panel">
													<div class="panel-heading">Surname & Initial Properties</div>
													<div class="panel-body">
														<table class="table table-bordered">
															<tr>
																<th></th>
																<th>Current</th>
																<th>Type</th>
															</tr>

															<tr>
																<td>Checked</td>
																<td>Y/N</td>
																<td><input type="text" class="form-control"></td>
															</tr>

															<tr>
																<td>Simple View</td>
																<td>Y/N</td>
																<td><input type="text" class="form-control"></td>
															</tr>

															<tr>
																<td colspan="3" class="text-right">
																	<button class="btn btn-primary">Confirm</button>
																</td>
															</tr>
														</table>
													</div>
												</div>

												<button class="btn btn-primary btn-update">Update</button>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<!-- 1st right panel -->
							<div class="panel-container">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">
											Panel title
										</h3>
									</div>

									<div class="panel-body" style="min-height: 300px">
										<div
										    data-angular-treeview="true"
										    data-tree-id="treeNav"
										    data-tree-model="vm.treedata"
										    data-node-id="id"
										    data-node-label="label"
										    data-node-children="children" >
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>