<ul class="nav nav-pills nav-justified">
	  <li><a href="#">Settings</a></li>
	  <li><a href="#">Equipment</a></li>
	  <li><a href="#">Dashboard</a></li>
	  <li><a href="#">User Roles</a></li>
	  <li><a href="#">Locations</a></li>
</ul>

<ul class="nav nav-pills nav-justified">
	  <li><a href="#">Event Types</a></li>
	  <li><a href="#">Personel</a></li>
	  <li><a href="#">Audit</a></li>
	  <li><a href="#">Repair</a></li>
	  <li><a href="#">Life Cycles</a></li>
</ul>