<ul class="nav nav-pills nav-justified" style="margin-top: 14px">
	  <li class="active"><a ui-sref="users" >Users</a></li>
	  <li><a href="#">Groups</a></li>
	  <li><a href="#">Permissions</a></li>
</ul>