<div class="container-fluid admin-panel-container">
	<div class="row">
		<div class="admin-header">
			<!-- logo -->
			<div class="col-lg-3">
				<div class="row">
					<div class="col-lg-6">
						<div data-ng-include="'layout/header/logo.html'"></div>
					</div>
					<div class="col-lg-6 details-block">
						<div data-ng-include="'layout/header/system-details.html'"></div>
					</div>
				</div>
			</div>

			<!-- title -->
			<div class="col-lg-5 title-block">
				<h2>{{application.PageTitle}}</h2>
			</div>

			<!-- right actions -->
			<div class="col-lg-4">
				<div class="row">

					<div class="col-lg-5 color-block">
						<div class="color-blue"></div>
						<div class="color-green"></div>
						<div class="color-orange"></div>
						<div class="color-red"></div>
					</div>

					<div class="col-lg-5 name-block">
						<div data-ng-include="'layout/header/loggedIn-user.html'"></div>
					</div>
					<div class="col-lg-2 logout-block">
						<div data-ng-include="'layout/header/logout.html'"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-1 left-menu">
			<div ui-view="leftSidebar"></div>
		</div>

		<div class="col-lg-9">
			<div class="row">
				<div class="col-lg-12 top-menu-block">
					<div ui-view="topSection"></div>
				</div>

				<div class="col-lg-12 panels-section">
					<div class="row">
						<div ui-view="content"></div>
					</div>
				</div>
			</div>
		</div>



		<div class="col-lg-2 right-panels">
			<div class="row">

				<div ui-view="rightSidebarTop"></div>

				<div ui-view="rightSidebarBottom"></div>
			</div>
		</div>
	</div>
</div>