<div data-ng-controller="loggedInUser as vm">
	<span data-ng-show="currentUser.IsAuthenticated" class="admin-name">John Doe</span>
	<span data-ng-hide="currentUser.IsAuthenticated" class="admin-name"><a ui-sref="login">Please Login</a></span>
	<button data-ng-show="currentUser.IsAuthenticated" class="btn"><span class="glyphicon icon-preview"></span></button>
</div>
